<!DOCTYPE html>
<!-- CodingMaker-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maa Ka Hath Ka Khana</title>
    <!--CSS Style-->
    <!-- <link
      rel="stylesheet"
      href="http://localhost:8000///css/signup.css"
    /> -->
    <link rel="stylesheet" href="http://localhost:8000///css/signup.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
    />
  </head>
  <style>
    .box {
      /* background: #ab6806; */
    }
    body {
      background-color: white;
    }
    .form {
      background: gray;
      box-shadow: inset;
    }

    .inputbox span {
      color: black;
    }
    .form h2 {
      color: black;
    }
    .links input {
      /* background: #ab6806; */
    }
    input[type="submit"] {
      color: black;
      background: white;
    }
    .inputbox i {
      /* background: black; */
    }
    .form h2 {
      color: black;
    }
    /* .box::after {
      background: linear-gradient(
        10deg,
        transparent,
        black,
        transparent,
        black
      );
    } */
  </style>
  <body>
    <div class="box">
      <form class="form" method="post">
        <h2>Sign in</h2>
        <div class="inputbox">
          <input type="text" required="required" name="name" />
          <span>Name </span>
          <i></i>
        </div>

        <div class="inputbox">
          <input type="email" required="required" name="email" />
          <span>Email</span>
          <i></i>
        </div>

        <div class="inputbox">
          <input type="number" required="required" name="phone" />
          <span>Phone</span>
          <i></i>
        </div>
        <!-- <script>
          function validateNumber(number) {
            // Remove any non-digit characters
            number = number.replace(/\D/g, "");
      
            // Check if the number is 10 digits long add by rohan this code on 10 digite no are enter
            if (number.length === 10) {
              return true;
            } else {
              return false;
            }
          }
        </script> -->

        <div class="inputbox">
          <input type="password" required="required" name="password" />
          <span>Password</span>
          <i></i>
        </div>

        <div class="links">
          <a href="/signup">Login</a>
          <!-- add by rohan -->
        </div>
        <input type="submit" value="Signup" />
      </form>
    </div>
  </body>
  <!-- <script>
    function validateNumber(number) {
      // Remove any non-digit characters
      number = number.replace(/\D/g, "");

      // Check if the number is 10 digits long
      if (number.length === 10) {
        return true;
      } else {
        return false;
      }
    }
  </script> -->
</html>
